# Flutter/Dart
/build/
/.dart_tool/
/.packages
/.pub-cache/
/.pub/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/android/key.properties
*.log
*.meta

# Database
database/movies.db

# IDEs
.idea/
.vscode/
*.iml